<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieWebService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F80C70DE1E74247E00B9CA49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F80C70F21E74247E00B9CA49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F80C70FD1E74247E00B9CA49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
